body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 400px 1200px;
  grid-template-rows: 50px 50px 250px, 50px;
  gap: 15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  /* row-start / column-start / row-end / column-end */
  grid-area: 1 / 1 / 2 / 3;
  background-color: #006157;
}

.sidebar {
  grid-area: 2 / 1 / 4 / 2;
  background-color: #005b94;
}

.nav {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #642cde;
}

.article {
  grid-area: 3 / 2 / 4 / 3;
  background-color: #7e1dc3;
}

.footer {
  grid-area: 4 / 1 / 5 / 3;
  background-color: #393f4d;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}
